/_build
/cover
/deps
/deps/
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/


/.idea
.idea

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

